<!-- MySite/templates/home.html -->
<!DOCTYPE html>
<html>
    <head>
                <meta charset="utf-8">
        <title>naiwe!</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link type="text/css" rel="stylesheet" href="file:///home/enwc/Django/myapp/mysite/static/css/style.css"/>
        <!--<link rel="shortcut icon" type="image/jpg" href="{% static 'ai.jpg' %}?ver=2"/>-->
        <link rel="shortcut icon" type="image/jpg" href="{% static 'firstlogo.jpg' %}?ver=2"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>

    </head>
    <body>
        <!--<h1>Welcome to my Home</h1>
    <p>
    This is my home where you understand me$
    </p>-->
    
 
   <a href="/"></a>
   <style>

  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }


   </style>
  
	   <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>



    <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>


  </div>


   </body>
</html>

